body {
    background: linear-gradient(150deg, #08fff3, #d87ff9, #00ffee, #005dfd );
   animation: BgGradient 5s ease infinite;
   background-size: 400% 300%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
@keyframes BgGradient {
   0% {background-position: 0% 50%;}
   50% {background-position: 100% 50%;}
   100% {background-position: 0% 50%;}
}
.contenedor1{
   width: 1200px;
   height: 50px;
   background-color: transparent;
   margin: 0px auto;
   

}
.caja1{
   background-color: skyblue;
   width: 200px;
   height: 50px;
   float: left ;
}   
.caja2 {
   width: 200px;
   height: 50px;
   background-color: aquamarine;
   float: left ;
}
.caja3 {
   width: 200px;
   height: 50px;
   background-color: aqua;
   float: left ;
}

.contenedor2 {
   width: 1200px;
   height: 200px;
   background-color: transparent;
   margin: 0px auto;
    }

.caja4 {
   width: 600px;
   height: 100px;
   float: left;
   
}
#foto {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  padding-top: 30px;
  border-radius: 60px;
  
}

#datos_contacto{
   padding: 30px 0px 0px 150px;
}
#boton1 {
   width: 90px;
   height: 50px;
   background-color: black;
   color: aqua;   
   font-size: 20px;

}
#boton2 {
   width: 90px;
   height: 50px;
   background-color: black;
   color: skyblue;  
   font-size: 20px;

}
#boton3 {
   width: 90px;
   height: 50px;
   background-color: black;
   color: aquamarine;  
   font-size: 20px;


}

#boton4 {
   width: 250px;
   height: 70px;
   background-color: black;
   color: aqua;
   font-weight: bold;
   border-radius: 60px;
   font-size: 20px;

}
#boton5 {
   width: 250px;
   height: 70px;
   background-color: black;
   color: aqua;
   font-weight: bold;
   border-radius: 60px;
   font-size: 20px;

}
h1 {
text-align: center;
padding-bottom: 30px;
font-weight: bold;
}
h3{
   text-align: justify;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
}
p {
   font-weight: bold;
   font-size: 15px;
   text-align: left;
}